body {
  background-color: #e7eaf6;
}

.container {
  background-color: white;
  max-width: 700px;
  margin: 30px auto;
  border: 2px solid #a2a8d3;
  border-radius: 16px;
  padding: 50px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-box {
  border-color: #a2a8d3;
}

.search-button {
  position: relative;
  left: 190px;
  top: -38px;
}

.card-body {
  color: #a2a8d3;
}
.card-title-main {
  font-weight: bold;
  font-size: 30px;
  color: #a2a8d3;
}

.card-text-main {
  font-size: 30px;
  margin-bottom: 10px;
  color: #a2a8d3;
}

.card-text {
  color: #a2a8d3;
}

.weather-icon {
  color: #dbdbeb;
  width: 100px;
  height: 100px;
  position: relative;
  left: 300px;
  top: -90px;
}

.main-card-blurb {
  position: relative;
  left: 410px;
  top: -180px;
}

.main-card {
  height: 220px;
  border-color: #a2a8d3;
}

.card {
  margin: 10px;
  border-color: #a2a8d3;
}

.card-title {
  font-size: 15px;
}

footer {
  color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid #d5def5;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
}

a {
  color: #ff1e78;
}
